<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <title>Firebase Admin</title>
    <!-- #1 - link to Firebase goes here  -->
<!-- The core Firebase JS SDK is always required and must be listed first -->

<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-database.js"></script>

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>


<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link rel="stylesheet" href="./adminStyles.css">
</head>
<body>
<div id="app" class="container align-items-center">
   
   <div >
    <h1 >User Data</h1>
        
        
        <div class="card text-white bg-primary mb-3" style="max-width: 50%;" v-for="user in users">
            
                <h5>User: </h5>
                <p><b>Access Date:</b> {{user.accessDate}} </p>
                <p><b>Position:</b> {{user.position}}</p>
                <p><b>Search Radius:</b> {{user.seachRadius}} Meters</p>
                <p v-if="user.searchedTerms"><b>Searched Terms:</b> {{user.searchedTerms}}</p>                
                
            
        </div>
        
   </div>
    
</div>

<script>
    
    
    let app = new Vue({
        el: '#app',
        data: {
            users: [],
            words: []
            
        },
        methods:{
            dataChanged(data){
                let obj = data.val();
                    
                Object.keys(obj).forEach(function (item) {
                app.users.push(obj[item]);
                });
                app.formatUsers();
            },
            firebaseError(error){
                console.log(error);
            },
            formatUsers(){
                // 1- create an array of words from the loaded string
                
                for(let i = 0; i < app.users.length; i++){

                
                if(app.users[i].searchedTerms == null)//user has entered no search terms 
                    return;
                let searchedWords = app.users[i].searchedTerms.split(", ");
                
                let unique = [...new Set(searchedWords)];
                
                app.users[i].searchedTerms = unique;

                }
                
            }
        },
        created(){
            /* #2 - The rest of the Firebase setup code goes here */
            var firebaseConfig = {
            apiKey: "AIzaSyDb9VQL79m1DzT7fJtc-OS05yLwUZDP9ME",
            authDomain: "rit-route-finder.firebaseapp.com",
            databaseURL: "https://rit-route-finder.firebaseio.com",
            projectId: "rit-route-finder",
            storageBucket: "rit-route-finder.appspot.com",
            messagingSenderId: "243604851524",
            appId: "1:243604851524:web:be22d86cde7d21cb66e511"
            };
                // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            
            
        }
});

firebase.database().ref("users").on("value", app.dataChanged, app.firebaseError);
    

    
</script>

</body>
</html>