<!DOCTYPE html>
<html>
  <head>
    <title>Project 2</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
   
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-database.js"></script>
    

    <script src="./src/loader.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!--Embedded font-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  
   <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>RIT Bus Stop Finder</h1>
      <div class="row">
        <div class="col-lg-4">
          <div id="map"></div>
        </div> 
        
        <div id="app" class="col-lg-7">
          
          <div class="row">
            <div class="col-lg-7">
              <section>
                <h2>Choose your route, search distance, and press the button to find the closest stop to you!</h2>
                <p>
                  <select v-model="selected" id="locations">
                    <option v-for="option in options" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                  <input name="weight" type="range" id="range_weight" value="1000" v-model="searchRadius" min="1000" max="5000" step="500" class="slider" @change="getAgencies" oninput="range_weight_disp.value = range_weight.value">
                  <output id="range_weight_disp"></output>
                  <button @click="locate">FIND!</button>
                </p>
                <div v-if="searched">
                  <p>Search through the results</p>
                  <input type="search" :placeholder="lastQuery" v-model="searchQuery" >
                  <button @click="searchResults">Filter!</button>
                </div>
              </section>
            </div>
            <div class="col-lg-5" id="container">
              <h2>Results</h2>
              <h4 v-show="loadVisible"><i>Loading...</i></h4>
              <div id="resultBox" v-for="result in visibleResults" class="row">
                <bus-result-success v-bind:result="result"></bus-result-success>      
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
      
      
      </script>
  </body>
</html>